<style>
    #rating-box:hover{

    }
</style>

<div id="rating-box">
</div>


<script src="~/js/utils/ratings.js"></script>
<script>
    renderRatings(document.getElementById('rating-box'));
</script>